<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="taskManagement">
      <section name="appAuth" type="SenseNet.TaskManagement.Core.Configuration.AppAuthSection, SenseNet.TaskManagement.Core" />
      <section name="executors" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>    
  </configSections>
  <taskManagement>
    <appAuth userName="Builtin\admin" password="admin">
      <!--<add appId="SenseNet1" userName="" password="" />-->
      <!--<add appId="SenseNet2" userName="" password="" />-->
    </appAuth>
    <!--<executors>
      <add key="" value=""/>
    </executors>-->
  </taskManagement>
  <appSettings>
    <!-- TaskManagement url for the central task management web application. Default: "http://localhost" -->
    <add key="TaskManagementUrl" value="http://localhost:57181" />
    <!-- Username (in the form of domain\username) for accessing the task management web application. -->
    <add key="Username" value="Builtin\admin" />
    <!-- Password for the user above -->
    <add key="Password" value="admin" />
    <!-- Interval for refreshing lock of the executing task. Default: "15" -->
    <!--<add key="UpdateLockPeriodInSeconds" value="15"/>-->
    <!-- Maximum executor inactivity. Default: "30" -->
    <!--<add key="ExecutorTimeoutInSeconds" value="60"/>-->
    <!-- Directory of the task executor exe-s. Relative to the agent exe. Default: "./TaskExecutors" -->
    <!--<add key="TaskExecutorDirectory" value="./TaskExecutors"/>-->
    <!--<add key="HeartbeatPeriodInSeconds" value="30" />-->
    <add key="LogName" value="SnTask" />
    <add key="LogSourceName" value="SnTaskAgent" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
