
@{
    ViewData["Title"] = "sensenet Task Management";
}

<div class="text-center" style="padding-top: 200px">
    <img class="tm-mainimage" src="~/img/sensenet-icon-120.png"/>
    <br/>
    <h1 class="display-4">Welcome to sensenet Task Management</h1>
    <p></p>
</div>

