<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Count of agent processes to start. Default: 1 -->
    <add key="TaskAgentCount" value="3"/>
    <add key="LogName" value="SnTask"/>
    <add key="LogSourceName" value="SnTaskService"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
